body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header {
    background-color: rgb(10, 178, 229);
    color: rgb(50, 10, 180);
    padding: 15px;
    text-align: center;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

section {
    margin: 20px 0;
}

img {
    display: block;
    margin: 10px auto;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.image-gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.image-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Styles for the link section */
.link-section {
    background-color: rgb(10, 178, 229); /* Background color */
    padding: 20px;                       /* Padding inside the background */
    position: relative;                  /* Set position relative for absolute positioning of children */
    margin-top: 20px;                    /* Space above the section */
    width: 100%;                         /* Full width */
    height: 50px;                        /* Set a fixed height for the container */
}

.page-link {
    position: absolute;
    left: 25%;                           /* Position 25% across the container */
    color: black;                      /* Text color */
    font-weight: bold;
    text-decoration: underline;
}

.insta-link {
    position: absolute;
    left: 75%;                           /* Position 75% across the container */
    color: black;
    font-weight: bold;
    text-decoration: underline;
}


